// $pc: em(var(--container-width));
$tablet: 991.98px; //em(991.98) 1023.98
$mobile: 767.98px; //em(767.98)
$mobileSmall: 479.98px; //em(479.98)

$maxWidthContainer: 1440;
$containerPadding: 80;
// $containerWidth: $maxWidthContainer + $containerPadding;
