@import '../../styles/variables';
.card {
	max-width: 310px;
	height: 506px;
	border: 1px solid var(--border-light);
	border-radius: var(--border-radius);
	overflow: hidden;
}
.img {
	object-fit: cover;
	border-radius: var(--border-radius);
	transition: all 0.6s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			transform: scale(1.1);
		}
	}
}
.body {
	display: grid;
	align-items: flex-start;
	padding: 20px;
	height: 196px;
}
.box {
	display: grid;
	gap: 12px;
}
.prise {
	align-self: flex-end;
}
.text {
	text-align: left;
}
.wrap {
	display: grid;
	grid-template-columns: 310px 1fr;
	grid-column: 1 / 3;
}
.inner {
	// display: grid;
	padding-left: 20px;
}
.image {
	object-fit: cover;
	border-radius: var(--border-radius);
}
.subtitle {
	&:not(:last-child) {
		padding-bottom: 12px;
	}
}
.form {
	padding: 20px 0;
	display: grid;
	gap: 20px;
}
.size,
.additive {
	display: grid;
	justify-content: flex-start;
	align-items: center;
	gap: 8px;
}

.list {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}
.item {
	&.active {
		// & [class*='_label__'],
		// [class*='label '] {
		// 	background-color: var(--background-container);
		// 	color: var(--text-light);
		// 	border-color: var(--background-container);
		// }
		// & .account {
		// 	background-color: var(--text-light);
		// 	color: var(--text-dark);
		// }
	}
}
.input {
	display: none;
}
.label {
	max-height: 46px;
	// max-width: 141px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px 16px 8px 8px;
	gap: 8px;
	border-radius: var(--border-radius);
	background-color: transparent;
	border: 1px solid var(--border-light);
	transition: all 0.6s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			background-color: var(--background-container);
			color: var(--text-light);
			border-color: var(--background-container);
			& .account {
				background-color: var(--text-light);
				color: var(--text-dark);
			}
		}
	}
	&.active {
		background-color: var(--background-container);
		color: var(--text-light);
		border-color: var(--background-container);
	}
}
.account {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: var(--border-light);
	transition: all 0.6s ease 0s;
	.active & {
		background-color: var(--text-light);
		color: var(--text-dark);
	}
}
.total {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
