.container {
	display: grid;
	gap: 40px;
	justify-items: center;
	align-items: center;
}

.title {
	text-align: center;
	max-width: 800px;
}
.accent {
	color: var(--text-accent);
}
.list {
	display: flex;
	gap: 16px;
}
// .item {
// }

.button {
	display: flex;
	padding: 8px;
}
