@import './../../../styles/variables';

.about {
	padding-bottom: 100px;
}
.container {
	display: grid;
	row-gap: 40px;
}

.body {
	display: grid;
	gap: 40px;

	@media (min-width: $tablet) {
		grid-template-columns: repeat(2, 1fr);
	}
}

.title {
	width: 100%;
}
.accent {
	color: var(--text-accent);
}
.column {
	display: grid;
	row-gap: 40px;
}
.box {
	overflow: hidden;
	border-radius: 20px;
}
.img {
	width: 100%;
	object-fit: cover;
	border-radius: 20px;
	transition: all 0.6s ease 0s;
	@media (max-width: $tablet) {
		&.small {
			display: none;
		}
	}

	@media (any-hover: hover) {
		&:hover {
			transform: scale(1.1);
		}
	}
}
